<!DOCTYPE html>
<html>
<head>
	<title>online portfolio</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../js/main.js"></script>

	<link rel="stylesheet" type="text/css" href="../stylesheet/allstyle.css">
	<link rel="stylesheet" type="text/css" href="../stylesheet/style5.css">	

	<link href="https://fonts.googleapis.com/css?family=Crimson+Text|Noto+Serif|Roboto+Condensed" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link hrefd="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
	<meta charset="utf-8">


</head>
<body>
<div id="body">		
	<div class="button">
		<div class="infospread">
			<ul>
				<i class="material-icons" id="material-icons">call</i><a class="materialbtn" href="tel:0492316898"> 049-2316898</a> /
				<i class="material-icons" id="material-icons">face</i> <a class="materialbtn" id="page5" href="page5.html">Contact Us</a> 
			</ul>
		</div>
		<a id="homebutton" href="../index.html">首頁 HOME</a>
		<div class="centermenu">	
			<a href="page2.html" id="aboutbutton">關於我們 ABOUT US</a>
				<div class="dropdown-content">
					<a href="page2.html"> 關於我們 About Us </a>
					<a href="page2.html#ourteam"> 我們的團隊 Our Team</a>
					<a href="page5.html"> 聯絡方式 Contact Us </a>
				</div>
		</div>
		<div class="centermenu">	
			<a id="treatmentbutton" href="page3.html">診療項目及門診 TREATMENTS</a>
				<div class="dropdown-content">
					<a href="page3.html">診療項目 TREATMENTS</a>
					<a href="page4.html"> 醫療小知識 Mirco Blog</a>
				</div>
		</div>
	</div>
 	
 <div class="h3box">
	<div class="titleNameChi"><h3 id="GETIT"><a href="../index.html" id="titleNameChiLink">草鞋墩神經外科診所</a></h3>
	</div>
	
	<div class="titleNameChi2"><a href="page3.html" class="sublogo">痠、痲、痛、頭暈、失眠、焦慮的專科診所</a></div>
 	
 	<h1>
  		<a href="../index.html" id="logo">Neurosurgical Clinic</a>	
 		<ul id="sublogoEng">Contact Information & Location</ul> 
	</h1>
</div>

<div class="content">
	<p class="contentChi">歡迎來到草鞋墩神經外科</p>

	<p class="contentChi">「預約看診」

	可以減少等候的時間，雖然有可能因為一些不可避免的事情，造成預約的人無法準時看診，但是比起臨時看診的人，還是會節省很多候診的時間，減少長期等待的不適。</p>
	<p class="page5EN">
	Because our doctors take time for attentive examination, we recommend our patients to make appointment ahead of time, instead of waiting on site. 
	<br>
	To schedule an appointment, please call us at 049-2306989. </p>


<br>
<div class="pback">
	<h3>Our Location</h3>
	<div><iframe class="imgh" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3645.7282196284914!2d120.68081451498547!3d23.97004888448158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34693069f7b4f1cd%3A0x5155b110d1b71721!2sCSD+Neurosurgical+Clinic!5e0!3m2!1sen!2sus!4v1544405417392" width="300" height="auto" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
	
		<p class="chichi">地址:南投市草屯鎮太平路二段28號</p>
		<p class="chichi">電話：049-2316989</p>
		<p class="chichi">Email: csdsuanmaton@gmail.com</p>

	<div class="hours">
		<li id="oph"><b>開門時間 Opening Hours:</b></li>
		<li>平日 Weekdays: 8AM-12PM; 3PM-6PM; 7PM-9:30PM </li>
		<li>週六 Saturday: 8AM-12PM </li>
		<li>週日 Sunday: Closed</li>
	</div>
</div>

<p class="part"></p>

	 
<hr class="hrline">

<!-- js 12/3 starts from here -->
<!-- <div class="banner">my jokes are funny</div> -->
<p class="part"></p>
<p class="chichi">我們的臉書會定期更新關於診所資訊，如提前安排休診。我們也歡迎致電詢問。</p>
<p class="page5EN">You can also contact us via Facebook. </p>
<iframe id="fb" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fsuanmaton%2F&tabs=timeline&width=300&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="500" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
<!-- 	<div class="titleNameChi2">	
		<p id="GETIT2">痠 丶痲丶 痛丶頭暈丶失眠丶焦慮的專科診所</p>
	</div>
 -->
</div> <!-- body id tag ends -->

<footer>嗨</footer>
</body>
</html>	