<!DOCTYPE html>
<html>
<head>
	<title>online portfolio</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../js/main.js"></script>

	<link rel="stylesheet" type="text/css" href="../stylesheet/allstyle.css">
	<link rel="stylesheet" type="text/css" href="../stylesheet/style4.css">	

	<link href="https://fonts.googleapis.com/css?family=Crimson+Text|Noto+Serif|Roboto+Condensed" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link hrefd="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
	<meta charset="utf-8">


</head>
<body>
<div id="body">		
	<div class="button">
		<div class="infospread">
			<ul>
				<i class="material-icons" id="material-icons">call</i><a class="materialbtn" href="tel:0492316898"> 049-2316898</a> /
				<i class="material-icons" id="material-icons">face</i> <a class="materialbtn" href="page5.html">Contact Us</a> 
			</ul>
		</div>
		<a id="homebutton" href="../index.html">首頁 HOME</a>
		<div class="centermenu">	
			<a href="page2.html" id="aboutbutton">關於我們 ABOUT US</a>
				<div class="dropdown-content">
					<a href="page2.html"> 關於我們About Us </a>
					<a href="page2.html#ourteam"> 我們團隊 Our Team</a>
					<a href="page5.html"> 聯絡方式 Contact Us </a>
				</div>
		</div>
		<div class="centermenu">	
			<a id="treatmentbutton" href="page3.html">診療項目及門診 TREATMENTS</a>
				<div class="dropdown-content">
					<a href="page3.html">診療項目 TREATMENTS</a>
					<a href="page4.html"> 醫療小知識 Mirco Blog</a>
				</div>
		</div>
	</div>
 	
 <div class="h3box">
	<div class="titleNameChi"><h3 id="GETIT"><a href="../index.html" id="titleNameChiLink">草鞋墩神經外科診所</a></h3>
	</div>
	
	<div class="titleNameChi2"><a href="page3.html" class="sublogo">痠、痲、痛、頭暈、失眠、焦慮的專科診所</a></div>
 	
 	<h1>
  		<a href="../index.html" id="logo">Neurosurgical Clinic</a>	
 		<ul id="sublogoEng"> Micro blog On Medical Info</ul> 
	</h1>
</div>


<!-- dots -->

	<ul class="dotfam">
		<a href="#41"><li class="dot"></li></a>
		<li class="dot"><a href="#42"></a></li>
	</ul>
<div class="slideshow-container">
	<div class="Slidess fade">
		<p id="contentChi" id="41"><b>「體重，酸痛的原因之一」</b> <br>
		新一代標靶式抑制食慾減重藥物屬於選擇性血清素抑制劑，作用機轉類似抗憂鬱用藥，直接作用在下視丘人類血清素5-HT2C受體，藉此達成抑制食欲效果，進而降低體重。
		食藥署為求慎重起見，要求新一代標靶式抑制食慾減重藥必須完成台灣銜接性人體臨床試驗，為此，台大、成大、中國附醫等三醫學中心進行臨床試驗。
		新藥仍有副作用，約兩成出現輕微頭痛、頭暈等，而藥物直接作用於大腦飽食中樞神經，長期服用，將提高血清素濃度，他建議，正在服用抗憂鬱及抗思覺失調藥物者勿服用。（文章出處中國時報丶鄭郁蓁）
		10月正式在台上市，該藥是15年來美國FDA首次核准的新減重藥，長工吃了一個月，廋了3.5公斤。
		</p>

	</div>
	<div class="Slidess fade">
		<p id="contentChi" id="42"><b>「腰椎硬膜上麻醉」</b><br>
		十年內開了兩次刀，上次是三年前，然後這三個月又開始下背部丶腿部疼痛。吃藥也壓不住，於是做了揷了兩針止痛。
		不痛了，接下來還是不要拿重，椅子不可以太低，而且要放上背靠，把腰撐住，避免復發。否則再開第三次，病人和醫師都受不了。
		</p> 
	</div>
</div>  <!-- slideshow-container ends -->


<!-- <div class="content slider-container">
	<div class="slide">
	<p id="contentChi" id="41"><b>「體重，酸痛的原因之一」</b> <br>
	新一代標靶式抑制食慾減重藥物屬於選擇性血清素抑制劑，作用機轉類似抗憂鬱用藥，直接作用在下視丘人類血清素5-HT2C受體，藉此達成抑制食欲效果，進而降低體重。
	食藥署為求慎重起見，要求新一代標靶式抑制食慾減重藥必須完成台灣銜接性人體臨床試驗，為此，台大、成大、中國附醫等三醫學中心進行臨床試驗。
	新藥仍有副作用，約兩成出現輕微頭痛、頭暈等，而藥物直接作用於大腦飽食中樞神經，長期服用，將提高血清素濃度，他建議，正在服用抗憂鬱及抗思覺失調藥物者勿服用。（文章出處中國時報丶鄭郁蓁）
	10月正式在台上市，該藥是15年來美國FDA首次核准的新減重藥，長工吃了一個月，廋了3.5公斤。
	</p>
	</div>

	<div class="slide">
	<p id="contentChi" id="42"><b>「腰椎硬膜上麻醉」</b><br>
	十年內開了兩次刀，上次是三年前，然後這三個月又開始下背部丶腿部疼痛。吃藥也壓不住，於是做了揷了兩針止痛。
	不痛了，接下來還是不要拿重，椅子不可以太低，而且要放上背靠，把腰撐住，避免復發。否則再開第三次，病人和醫師都受不了。
	</p> 
	<p class="EN"> </p>
	</div>



<br> -->


</div> <!-- body id tag ends -->

<footer>嗨</footer>
</body>
</html>	