<!DOCTYPE html>
<html>
<head>
	<title>online portfolio</title>
	<link rel="stylesheet" type="text/css" href="../stylesheet/allstyle.css">
	<link rel="stylesheet" type="text/css" href="../stylesheet/style2.css">
	

	<link href="https://fonts.googleapis.com/css?family=Crimson+Text|Noto+Serif|Roboto+Condensed" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
	<meta charset="utf-8">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../js/main.js"></script>


</head>
<body>
<div id="body">	

<div>	
	<div class="button">
		<div class="infospread">
			<ul>
				<i class="material-icons" id="material-icons">call</i><a class="materialbtn" href="tel:0492316898"> 049-2316898</a> /
				<i class="material-icons" id="material-icons">face</i> <a class="materialbtn" href="page5.html">Contact Us</a> 
			</ul>
		</div>

			<a id="homebutton" href="../index.html">首頁 HOME</a>
		<div class="centermenu">	
			<a href="page2.html" id="aboutbutton">關於我們 ABOUT US</a>
		<div class="dropdown-content">
					<a href="page2.html"> 關於我們 About Us </a>
					<a href="page2.html#ourteam"> 我們的團隊 Our Team</a>
					<a href="page5.html"> 聯絡方式 Contact Us </a>
				</div>
		</div>
		<div class="centermenu">	
			<a id="treatmentbutton" href="page3.html">診療項目及門診 TREATMENTS</a>
				<div class="dropdown-content">
					<a href="page3.html">診療項目 TREATMENTS</a>
					<a href="page4.html"> 醫療小知識 Mirco Blog</a>
				</div>
		</div>
	</div>

 <div class="h3box">
	<div class="titleNameChi"><h3 id="GETIT"><a href="../index.html" id="titleNameChiLink">草鞋墩神經外科診所</a></h3></div>

	<div class="titleNameChi2"><a href="page3.html" class="sublogo">痠、痲、痛、頭暈、失眠、焦慮的專科診所</a></div>

  	<h1>
 		<a href="../index.html" id="logo">Neurosurgical Clinic</a>	
 		<ul id="sublogoEng"> Nerve Injuries Treatment & Pain Management</ul> 
	</h1>
</div>

	
<div class="content">	
	<div class="main">
		<h3 class="h33" id="#aboutus">About Us</h3>
		
		<p class="chichi">我們創立於民國91年3月16日，為全南投唯一的神經外科專科診所。這個名字的靈感源於草屯鎮的舊名「草鞋墩」，而舊名於《草屯鎮志》中所記載：以前為各種人出入門戶的地點，乃為草鞋製造及集散地，夙為換氣新舊草鞋之地，日積月累，草鞋成墩因而得名。最初我們在育英街的小小租處街道上開業，轉眼間搬了一次到太平路二段66號，直到後來2011年，搬遷至目前的太平路二段28號，有了屬於我們自己的診所。</p>

		<p class="aboutusEN">First opened in March 16th, 2003, this clinic has been the only clinic specialized in Nerosurgic presented in Nantou, Taiwan. The name of 'Csao Sei Dun', which translated to be grass-sandals pier, came from the past where people had a high demand in changing their shoes at this town before heading out to larger cities or coming back from other places. <br>
		We moved twice in this town, from smaller location to finally having our own place, Taiping Rd Section 2, 28th, here in 2011.
		</p>
		<br>
		<img class="imgv" src="../images/IMG_3578.JPG" alt="Tsao-Shei-Tun Neurosurgical Clinic store front">
		
	</div>


<!-- staff images -- painted!!!!  -->
<br id="ourteam">
<p class="part"></p> <!-- 分隔線 -->
<!-- Member Info -->

<h3 class="h33">Our Team</h3>

<br><br>
	<div class="memberinfo1">
		<img id="imghere" class="imgh"src="../images/IMG_3569.JPG" alt="Dr.Lin photo">
			<div class="overlay">
				<div class="description">
				奧地利維也納大學醫院  Wien AKH<br>     
				客座醫師一年半<br>
				台中榮總醫師八年 Taichung V General Hospital<br>
				秀傳醫院醫師四年 Show Chawn Hospital
				</div>
			</div>
		<p class="chichi">神經外科醫師 林經堯 Neurosurgeon Dr.Lin</p>
	</div>	

<p class="part"></p> <!-- 分隔線 -->
	<div class="memberinfo">
		<!-- <p>神經內科醫師 張達政 <img src="../images/IMG_3569.JPG"></p> -->
		<div><img class="imgh" src="../images/IMG_3736.JPG" alt="Physical Therapist Dr.Shih"><p class="chichi" >物理治療師 石傑文<br> Physical Therapist Dr.Shih</p></div>

		<div><img class="imgh" src="../images/IMG_3734.JPG" alt="Pharmacist Mrs.Hu"><p class="chichi">藥師 胡秀芬 <br>   Pharmacist Mrs.Hu</p> </div>
	<!-- <p class="chichi">護理師</p> -->
	</div>


	<!-- connect to facebook for most-updated posts: information about time  +  google map -->

<p class="part2"></p> <!-- 分隔線 -->

	<!-- Google map -->
	<div class="pback">
	<h3>Our Location</h3>
	<div><iframe class="imgh" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3645.7282196284914!2d120.68081451498547!3d23.97004888448158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34693069f7b4f1cd%3A0x5155b110d1b71721!2sCSD+Neurosurgical+Clinic!5e0!3m2!1sen!2sus!4v1544405417392" width="300" height="auto" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
	
		<p class="chichi">地址: 南投市草屯鎮太平路二段28號</p>
		<p class="chichi">電話：049-2316989</p>
		<p class="chichi">Email: csdsuanmaton@gmail.com</p>
	</div>
	
</div>
</div> 
</div> <!-- body id tag ends -->
</body>
</html>	