<!DOCTYPE html>
<html>
<head>
	<title>online portfolio</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../js/main.js"></script>

	<link rel="stylesheet" type="text/css" href="../stylesheet/allstyle.css">
	<link rel="stylesheet" type="text/css" href="../stylesheet/style3.css">
	

	<link href="https://fonts.googleapis.com/css?family=Crimson+Text|Noto+Serif|Roboto+Condensed" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link hrefd="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
	<meta charset="utf-8">


</head>
<body>
<div id="body">		
	<div class="button">
		<div class="infospread">
			<ul>
				<i class="material-icons" id="material-icons">call</i><a class="materialbtn" href="tel:0492316898"> 049-2316898</a> /
				<i class="material-icons" id="material-icons">face</i> <a class="materialbtn" href="page5.html">Contact Us</a> 
			</ul>
		</div>
		<a id="homebutton" href="../index.html">首頁 HOME</a>
		<div class="centermenu">	
			<a href="page2.html" id="aboutbutton">關於我們 
			ABOUT US</a>
				<div class="dropdown-content">
					<a href="page2.html"> 關於我們 About Us </a>
					<a href="page2.html#ourteam"> 我們的團隊 Our Team</a>
					<a href="page5.html"> 聯絡方式 Contact Us </a>
				</div>
		</div>
		<div class="centermenu">	
			<a id="treatmentbutton" href="page3.html">診療項目及門診 TREATMENTS</a>
				<div class="dropdown-content">
					<a href="page3.html">診療項目 TREATMENTS</a>
					<a href="page4.html"> 醫療小知識 Mirco Blog</a>
				</div>
		</div>
	</div>
 	
 <div class="h3box">
	<div class="titleNameChi"><h3 id="GETIT"><a href="../index.html" id="titleNameChiLink">草鞋墩神經外科診所</a></h3>
	</div>
	
	<div class="titleNameChi2"><a href="page3.html" class="sublogo">痠、痲、痛、頭暈、失眠、焦慮的專科診所</a></div>
 	
 	<h1>
  		<a href="../index.html" id="logo">Neurosurgical Clinic</a>	
 		<ul id="sublogoEng"> Specialities & Services</ul> 
	</h1>
</div>

<div class="content">


<!-- js 12/3 starts from here -->
<!-- <div class="banner">my jokes are funny</div> -->

<h2 class="contentChi sec1">治療：止痛</h2>
	<button class="btnEN1" id="btnOut">EN</button>
	<div class="EN"><p class="EN1"><b>Radio-frequency ablation</b> <br>
	is a minimally invasive procedure that destroys the nerve fibers carrying pain signals to the brain. It can provide lasting relief for people with chronic pain, especially in the lower back, neck and arthritic joints. If you suffer recurrent pain and you’ve experienced good relief with a nerve block injection, you may be a candidate for a radio-frequency ablation.
	<br>
	<br>
	The degree of pain relief varies, depending on the cause and location of the pain. Pain relief from RFA can last from six to 12 months and in some cases, relief can last for years. More than 70% of patients treated with RFA experience pain relief.
	<br>
	RFA has proven to be a safe and effective way to treat some forms of pain. It also is generally well-tolerated, with very few associated complications. There is a slight risk of infection and bleeding at the insertion site. Your doctor can advise you about your particular risk.
</p>
		<button class="btnEN1" id="btnIn">close</button>
	</div>


	<p class="contentChi">

	<b>膝關節射頻止痛（RFA, Radiofrequency ablation）冷凝式。</b>


	<br>

	慢性下背痛近三成是腸骨薦骨關節炎引起的，冷凝式射頻神經阻斷術，將引發疼痛的神經經由插針的方法阻斷疼痛感覺，進而達到治療效果，解除疼痛。
	<br>
	這是一種打針注射的過程，經由針尖產熱，中斷神經向大腦傳送的疼痛信號，進而消除或減輕來自膝關節的疼痛。
	<p class="contentChi">

	兩種情況下建議此種治療：
	<br>
	患有中度至重度的膝關節退化性關節炎，已經嘗試了其他的治療方法都不滿意，甚至已經有醫師建議進行膝關節置換手術，但是患者本人並不想接受手術。<br>
	另外就是那些已經開刀接受全膝關節置換後，還是覺得疼痛的人。
	<br><br>
	<b>作法：</b><br>
	膝關節射頻止痛手術本身只需要5分鐘，將三個專用針頭放置在膝蓋附近正在產生痛苦的傳導神經旁邊。這種針的放置是在即時顯像X光檢查下進行的，用以確保正確定位。位於神經附近的針尖用射頻能量加熱，此種加熱的目的是改變神經的正常功能，被加熱後，神經就不能再將膝蓋上的疼痛信號傳遞給你的大腦，進而達到止痛的效果。
<br><br>
	<b>它會持續多久？<br></b>

	患者一般會在6-18個月的時間內有良好的疼痛緩解經歷，但是加熱的神經最終將從治療過程後的射頻熱損傷中恢復，並再次開始正常運作。即使疼痛復發，您還是可以返回診所再進行一次5分鐘的膝關節射頻止痛。
<br><br>
	* 個人結果可能有所不同，約八成的人覺得滿意。<br>
	* 這種新型冷卻式射頻機造成的的射頻範圍是傳統射頻機的六倍，是一種揷針治療的方法，經由即使顯像X光機的導航定位，準確地將針放在神經旁邊，射頻機在針尖產熱，阻斷神經將疼痛的感覺傳入大腦，藉此達到止痛的效果。
	本診所使用14年的射頻機從今年開始改由冷卻式射頻式取代，沒有最好，只有更好。


	術前會先做關節內麻藥注射，確定有效後才做冷凝式射頻神經阻斷術。
	治癒率約八成，有效的患者也可能復發，復發時可以再做。
	需自費，費用不親民。


	
	</p>

	<img class="imgh" src="../images/IMG_3698.JPG" alt="Radio-frequency ablation">

<p class="part"></p> <!-- 分隔線 -->

<h2 class="contentChi sec2">體外震波治療：治療酸痛</h2>
	<button class="btnEN2" id="btnOut2">EN</button>
	<div class="EN2"><p class="EN2"><b>Shock wave therapy </b> <br>
	is a noninvasive method that uses pressure waves to treat various musculoskeletal conditions. High-energy acoustic waves (shock waves) deliver a mechanical force to the body’s tissues. <br>
	Shock wave therapy may treat conditions such as degenerated tendons (Achilles tendonitis), heel pain (plantar fasciitis) and tennis elbow (lateral epicondylitis).
	
	Shock wave therapy is an outpatient procedure. A probe is placed on the skin after a gel is applied to help conduct the shock waves. High- or low-energy waves may be used. High-energy waves may cause pain and require a local or regional anesthetic. Low-energy shock wave therapy often is performed without anesthesia. Therapy is more successful with active patient participation where the patient tells the therapist whether or not the probe is at the area of pain. One or more treatment sessions may be needed.
	</p>
		<button class="btnEN2" id="btnIn2">close</button>
	</div>
	<p class="contentChi">
		<b>Extracorporeal shockwave therapy</b> <br>
	為什麼喜歡這種治療呢？

	因為它沒有侵入性，做起來就像是被做超音波檢查一樣丶外帶一些酸酸脹脹丶些許痛感。

	第二次大戰時，深水炸彈會讓水中的人員肺破裂卻沒有任何外傷，於是開啟了震波的硏究，1980年代體外震波碎石機開從德國使用在臨床上治療腎結石，到了1990年代，醫師已經把它拿來治療骨頭和周遭的軟組織病變，用來治療痠痛，説起來也快20年了，體外震波治療是一種很成熟的治療工具。目前的機種已經大大改善以往治療當下的劇烈疼痛感，就患者而言的確是一種友善的治療工具。

	對於某些吃藥丶復健效果不好的痠痛，患者本身又不喜歡打類固醇針或是已經打了類固醇卻很快復發而不能再重複施打的人，這種體外震波治療就能提供了另一項解決酸痛的方法。

	每次接受震波治療就會覺得痠痛少一些。

	至於缺點呢，就是需要自己花錢丶需要六次的療程，這一點就不是每個人都方便。
	單就足底筋膜炎而言，局部注射類固醇也很有效，又有健保給付，但是會有副作用（纖維化後造成筋膜的斷裂）以致不能太常施打。</p>
	<img class="imgv" src="../images/IMG_3557.JPG" alt="Extracorporeal shockwave therapy">
</div>	
<!-- 	<div class="titleNameChi2">	
		<p id="GETIT2">痠 丶痲丶 痛丶頭暈丶失眠丶焦慮的專科診所</p>
	</div>
 -->


<br>
</div> <!-- body id tag ends -->

<footer>嗨</footer>
</body>
</html>	